<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LEO.dao.FirstDao">

    <!--第一条测试数据-->
    <select id="getListInfo" resultType="LEO.entity.dataBase.Person">
        SELECT id,`name`,age,message
        FROM leo_first
    </select>

    <!--动态生成id插入数据-->
    <insert id="insertInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO leo_first(`name`,age,message)VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.age},#{item.message})
        </foreach>
    </insert>
</mapper>